/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    background-color: lightgray;
}

/* stle dell'header */
header  {
    height: 100px;
    background-color: white;
}

#logo   {
    padding-left: 30px;
    padding-top: 10px;
    vertical-align: middle;
}

h1  {
    display: inline-block;
    vertical-align: middle;
}

