/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    background-color: lightgray;
}

/* stle dell'header */
header  {
    height: 80px;
    background-color: white;
}

#logo   {
    padding-left: 30px;
    padding-top: 10px;
    vertical-align: middle;
}

h1  {
    display: inline-block;
    vertical-align: middle;
}

/* stile sezione bottoni */
.buttons    {
    background-color: white;
    margin: 30px auto;
    width: 70%;
    height: 50px; 
    border-radius: 10px;
}

#task   {
    margin-left: 50px;
}

#task  {
    background-color: rgb(151, 192, 238);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

#section  {
    background-color: white;
    color: grey;
    border: solid 1px gray;
    padding: 8px;
    border-radius: 10px;
}

main    {
    background-color: white;
    margin: 5px auto;
    width: 70%; 
    border-radius: 10px;
}

/* sezione new task */
.new_task   {
    margin-left: 50px;
    padding-top: 50px;
}

h2  {
    display: inline-block;
    margin-bottom: 10px;
}

span    {
    margin-left: 10px;
}

.editorial  {
    display: inline-block;
    background-color: rgb(111, 175, 243);
    color: white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: 10px;
}

/* sezione today */
.today   {
    margin-left: 50px;
    padding-top: 50px;
}

.Q1  {
    display: inline-block;
    background-color: rgb(241, 72, 204);
    color: white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: 10px;
}

.recruiting  {
    display: inline-block;
    background-color: rgb(5, 244, 17);
    color: white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: 10px;
}

.mobile  {
    display: inline-block;
    background-color: rgb(223, 165, 31);
    color: white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: 10px;
}

/* sezione upcoming */

.upcoming   {
    margin-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.website    {
    display: inline-block;
    background-color: rgb(227, 68, 129);
    color: white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: 10px;
}

.sales  {
    display: inline-block;
    background-color: rgb(50, 100, 43);
    color: white;
    border-radius: 10px;
    padding: 1px 5px;
    margin-left: 10px;
}